@model SPlanner.Models.Grade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Gradee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gradee)
        </dd>

        <dt>
            Subject
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradeID }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
