@model IEnumerable<SPlanner.Models.Grade>

@{
    ViewBag.Title = "Grade List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gradee)
        </th>
        <th>
            Subject
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gradee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GradeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GradeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GradeID })
            </td>
        </tr>
    }
    @{decimal reuslt1 = 0, i = 0;
        foreach (var item in Model)
        {
            reuslt1 += item.Gradee; i++;
        }
        <tr>
            @{ if (reuslt1 != 0)
                {
                    decimal ave = (reuslt1 / i);
                    if (ave < 3)
                    {
                        <td class="alert alert-danger" role="alert">
                            @ave.ToString("#.##") <svg width="16" height="16" style="float: right; margin-bottom: -1%;"><use xlink:href="#exclamation-triangle-fill" /></svg>
                        </td>
                        <!-- <td class="alert alert-danger"> @ave.ToString("#.##") </td>-->

                    }
                    else
                    {
                        <td class="alert alert-success" role="alert">
                            @ave.ToString("#.##") <svg width="16" height="16" style="float: right;margin-bottom: -1%;"><use xlink:href="#check-circle-fill" /></svg>
                        </td>
                    }
                }
            }

            <td> Mean </td>
            <td></td>
        </tr>
    }
</table>
